# Maven target directory
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.nextReleaseBackup
pom.xml.releaseProperties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar

# IDE Specific (IntelliJ, Eclipse, NetBeans, VS Code)
.idea/
*.iml
*.iws
.settings/
.classpath
.project
.factorypath
.vscode/

# OS Specific
.DS_Store
Thumbs.db
